<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorator="~{fragments/layout}">

<head>

</head>

<body>
    <form method="POST" th:action="@{/login}">
        <div><input name="username" type="text" class="form-control" placeholder="ログインID" required /></div>
        <div><input name="password" class="form-control" placeholder="パスワード" required /></div>
        <div>
            <input type="checkbox" class="custom-control-input" name="remember-me" id="remember-me" value="true" checked>
            <label class="custom-control-label" for="remember-me">ログイン状態を保持する</label>
        </div>
        <input type="submit" value="login">
    </form>
</body>

</html>