<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorator="~{fragments/layout}" lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>音声認識</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/app.css}" />
  <link rel="stylesheet" th:href="@{/js/app.js}" />
</head>

<body>
  <div class="form-signin">
    <h3>Web Speech API</h3>
    <button class="btn btn-success btn-lg" id="btn">音声認識開始</button>
    <div id="content"></div>
  </div>

  <script src="app.js"></script>
</body>

</html>